/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
	font-size: 1.5em;

	margin-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

nav {
	.navbar-header {
		a {
			color: #ffffff;
			font-weight: bold;
			font-size: 1.5em;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

#masonry-container {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 200px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  p.title {
	  	font-size: 1.25em;
	  	font-weight: 600;
	  }
	}
}

.product_wrapper {
		img {
			max-width: 400px;
			width: 400px;
			display: block;
			margin: 0 auto;
		}
	
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
			font-weight: bold;
		}
		p {
			color: #868686;
			line-height: 1.75;
			margin: 0;
			font-size: 1.2em;
		}
		#product-price {
			padding-top: 1em;
 	        padding-bottom: 1em;

 	        font-size: 1.5em;
 	        font-weight: bold;
 	        color: #ff007c;
		}
	}
}

